.navSpacer{
    height: 12vh;
    width:15vw;
}

.header{
    font-size: 6vh;
    text-decoration: underline;
}

h1 {
    padding-top: 5vh;
    padding-left: 3vw;
}

h3, h4, h5{
    padding-left: 3vw;
}

.referenceText{
    font-style: italic;
    font-size: 15px;
}

ul{
    padding-left: 4vw;
}

li{
    font-size: 20px;
}